# Firebase Service Key (DO NOT PUSH)
firebase/serviceAccountKey.json
app3.py

# Add this to .gitignore
fine_tuned_bart/
*.zip
*.safetensors

# Environment Variables (DO NOT PUSH)
.env
venv/
env/

# Cache Files
_pycache_/
*.pyc
*.pyo

# IDE/Editor Files
.vscode/
.idea/